# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Streamlit
.streamlit/
! .streamlit/config.toml

# Data & Models (if they become large, but currently they are small)
# data/
# models/
outputs/*.png
outputs/*.html
outputs/*.csv

# OS
.DS_Store
Thumbs.db
